@charset "UTF-8";

@font-face {
  font-family: 'mm-font';
  src: url('../../assets/fonts/iconfont.ttf') format('truetype');;
}
.van-icon{
  font-family: 'vant-icon', 'mm-font' !important;
}
.van-icon-waiqinqiandao:before { content: "\e676"; }

.van-icon-kaoqin:before { content: "\e62b"; }

.van-icon-port-lcsp:before { content: "\e769"; }

.van-icon-waiqinb:before { content: "\e6ad"; }

.van-icon-xiehuibao:before { content: "\e6f8"; }

.van-icon-siyouyun:before { content: "\e606"; }

.van-icon-tongzhi:before { content: "\e600"; }

.van-icon-ditu:before { content: "\e760"; }

.van-icon-gongzuotai:before { content: "\e68c"; }

.van-icon-sun:before { content: "\e601"; }

.van-icon-tongji:before { content: "\e602"; }

.van-icon-marker:before { content: "\e640"; }

.van-icon-photo:before { content: "\e62e"; }

.van-icon-guize:before { content: "\e608"; }

.van-icon-photob:before { content: "\e639"; }

.van-icon-gotowork:before { content: "\e61e"; }

.van-icon-afterwork:before { content: "\e62a"; }